<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SemesterProject.Properties.Settings.Voting_SaadConnectionString"
            connectionString="Data Source=DESKTOP-NQ5QMQS\SQLEXPRESS;Initial Catalog=Voting_Saad;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>